
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    margin: 0;
    padding: 0;
   
}

.login-container {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login-box {
    background-color: #aecfd0;
    padding: 40px 20px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
}

.logo {
    width: 140px;
    margin-bottom: 10px;
    }

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.login-button {
    background-color: #05046b;
    color: white;
    padding: 10px;
    margin: 20px 0px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

    .login-button .arrow {
        margin-left: 10px;
        font-weight: bold;
    }

.links {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


